body {
  font-size: 1.2em;
}

div.tabs > a, div.tabs > button {
  margin-right: 10px;
  font-size: 1.2em;
}

div.tabs {
  margin-bottom: 10px;
}

.activeTab {
  font-weight: bold;
}

li[ui-sref] {
  text-decoration: underline;
  cursor: pointer;
}

.loader{
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -180px; /* Negative half of height. */

}​
