<link rel="stylesheet" href="css/signup.css">

<div class="container" ng-controller="signupController as reg">
  <div ng-if="reg.submitted">
    Your information has been saved !!
    <br><br>
    <load-fav-img favitem="reg.user.favmenu">
      <span>Retrieving information about your favourite item .. </span>
    </load-fav-img>

  </div>
  <div ng-if="!reg.submitted">
    <fieldset>
      <legend>Signup for Newsletter</legend>
      <form name='regForm' novalidate>

        <input type="text" name="firstname" placeholder="Enter first name"
          ng-model="reg.user.firstname"
          required>
          <span
            ng-if="regForm.firstname.$error.required && regForm.firstname.$touched">
            First Name is Required
          </span>
          <br>
          <input type="text" name="lastname" placeholder="Enter Last name"
            ng-model="reg.user.lastname"
            required>
            <span
              ng-if="regForm.lastname.$error.required && regForm.lastname.$touched">
              Last Name is Required
            </span>
            <br>

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span
            ng-if="regForm.email.$error.required && regForm.email.$touched">
            Email is Required
          </span>
          <span ng-if="!regForm.email.$error.required && regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone" required
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span
            ng-if="regForm.phone.$error.required && regForm.phone.$touched">
            Phone no. is Required
          </span>
          <span ng-if="!regForm.phone.$error.required && regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>

          <input type="text" name="favmenu" placeholder="Enter your Favourite Menu Item's Short Name"
            ng-model="reg.user.favmenu" favitem-validate
            required>
            <span ng-show="reg.menuname"> <b>Favourite Item Name : </b> {{reg.menuname}}</span>
            <span
              ng-if="regForm.favmenu.$error.required && regForm.favmenu.$touched">
              User Favourite Item is Required
            </span>
            <span
              ng-if="!regForm.favmenu.$error.required && regForm.favmenu.$error.favitemValidate && regForm.favmenu.$touched">
              No such menu number exists !
            </span>
            <br>

        <button
          ng-disabled="regForm.$invalid"
          ng-click="reg.submit()">Submit</button>


      </form>
      </div>
    </fieldset>

</div>
